<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Type Systems</title>
  <link rel="stylesheet" href="/app.css">
</head>
  <body>
    <article class="type-system-geometric">
      <p class="type">Geometric</p>
      <%= erb :article %>
    </article>

    <hr>

    <article class="type-system-rounded">
      <p class="type">Rounded Sans Serif</p>
      <%= erb :article %>
    </article>

    <hr>

    <article class="type-system-sans">
      <p class="type">Sans Serif</p>
      <%= erb :article %>
    </article>

    <hr>

    <article class="type-system-serif">
      <p class="type">Serif</p>
      <%= erb :article %>
    </article>

    <hr>

    <article class="type-system-slab">
      <p class="type">Slab Serif</p>
      <%= erb :article %>
    </article>

    <hr>

    <article class="type-system-traditional">
      <p class="type">Traditional</p>
      <%= erb :article %>
    </article>

    <hr>

  </body>
</html>
